
output_minilm_best/
__pycache__/
logs/
model/
dataset/
experiment/
.env
.DS_Store
results.txt

*.pyc
*.log
*.ckpt
*.pt
*.bin
*.json
*.csv
*.zip
*.tar.gz
*.h5
*.pkl
*.onnx
*.pb
*.tflite
*.ipynb
*.txt
*.xlsx
*.jsonl
*.json
design_doc.md
